li a {
  color: #808080;
}

li a:hover {
  color: #e9d355;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #e3e6d1;
}

#projects {
  background-color: #e3e6d1;
}

section {
  padding-top: 10rem;
}
